Repository Kerino89/react-hook-select: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, vitest related --watch false --run --bail

ci: renamed input to matrix
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: prettier --write --ignore-unknown

build: update launch.json
  .vscode/launch.json
Due: prettier --write --ignore-unknown

chore: remove .devcontainer, .codesandbox
  .codesandbox/ci.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --write --ignore-unknown

chore: remove example
  example/.gitignore
  example/.npmrc
  example/index.html
  example/package.json
  example/src/App.tsx
  example/src/components/GlobalStyle.ts
  example/src/components/field-wrap/FieldWrap.tsx
  example/src/components/field-wrap/field-wrap.interface.ts
  example/src/components/field-wrap/index.ts
  example/src/components/field-wrap/styles/Element.ts
  example/src/components/field-wrap/styles/Label.ts
  example/src/components/select/Select.tsx
  example/src/components/select/index.ts
  example/src/components/select/styles/Button.ts
  example/src/components/select/styles/Control.ts
  example/src/components/select/styles/Element.ts
  example/src/components/select/styles/Group.ts
  example/src/components/select/styles/InputSearch.ts
  example/src/components/select/styles/LabelGroup.ts
  example/src/components/select/styles/Option.ts
  example/src/components/select/styles/Options.ts
  example/src/components/select/styles/Value.ts
  example/src/components/wrapper/Wrapper.tsx
  example/src/components/wrapper/index.ts
  example/src/components/wrapper/styles/Body.ts
  example/src/components/wrapper/styles/Element.ts
  example/src/data/mockSelectOptions.ts
  example/src/main.tsx
  example/src/pages/base-select/BaseSelect.tsx
  example/src/pages/base-select/index.ts
  example/src/vite-env.d.ts
  example/tsconfig.json
  example/vite.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, vitest related --watch false --run --bail

test(use-select): update test
  test/use-select.test.ts
Due: prettier --write --ignore-unknown, eslint --fix, vitest related --watch false --run --bail

feat: add setSearchValue
  src/use-select.interface.ts
  src/use-select.ts
Due: prettier --write --ignore-unknown, eslint --fix, vitest related --watch false --run --bail

ci: add registry-url
  .github/actions/setup/action.yml
Due: prettier --write --ignore-unknown

Notes added by 'git notes add'
  364dcbcaad87d3b775e4f863cab996a3e12fa029
Due: none

fix: renamed from index.d.ts on react-use-select.d.ts
  package.json
Due: prettier --write --ignore-unknown

Notes added by 'git notes add'
  7740a96bfb4d6b6cb003e2f19e61d77134dec4b5
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: *.{ts,tsx}) or (any of: *.{md,mdx,json,css,scss,yaml,yml})
  eslint --fix: any of: *.{ts,tsx}
  vitest related --watch false --run --bail: any of: *.{ts,tsx}
